# HxD
*.gba.bak

# Ida Pro
*.gba.i64
*.gba.id0
*.gba.id1
*.gba.nam
*.gba.til

# ROM
*.gba
*.sav
*.sav.bak

# Python output
tmp.txt
temp/
*.pyc

# VS Code
*.code-workspace

# mGBA
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9